@model InfoAboutUs
<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">О разработчиках</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="infoo"></div>
                <label text-align="center" class="info1">@Model.s1</label>
                <label text-align="center" class="info2">@Model.s2</label>
                <label text-align="center" class="info2">@Model.s3</label>
                <label text-align="center" class="info2">@Model.s4</label>
                <label text-align="center" class="info3">@Model.s5</label>
                <label text-align="center" class="info4">@Model.s6</label>
                <label text-align="center" class="info5">@Model.s7</label>
                <label text-align="center" class="info6">@Model.s8</label>
                </div>
            </div>
        </div>
    </div>
</div>