@page "{id}"
@model tetris.Pages.EditLevelModel
@{
	ViewData["Title"] = "Редактировать уровень сложности";	
}
<body>
	<section>
		<div id="modal-placeholder"></div>
		<div class="form-box-lvl">
			<div class="form-value">
				<form method="GET" name="EditLevelForm">
					<h2 class="h2-lvl">Уровень сложности</h2>
			<div class="field">
				<label class="label-lvl">Стакан</label>
				<select class="select1" name="glass" id="select1">
				</select>
			</div>
			<div class="field">
				<label class="label-lvl">Фигуры</label>
				<input type="text" class="label-lvl2" name ="shapes" id="inpt1" required readonly="true">
				<button id="button_chen" type="button" class="btn-lvl2" level-id="@Model.id" data-toggle="ajax-modal" data-url="@Url.Page("EditLevel", "ViewSetOfShape")">
                            Изменить
                        </button>
			</div>
			<div class="field">
				<label class="label-lvl">Скорость</label>
				<select class="select2" name="speed" id="select2">
				</select>
			</div>
			<div class="field">
				<label class="label-lvl">Очки за ряд</label>
				<input type="text" class="label-lvl2" name ="sc1" id="inpt2">
			</div>
			<div class="field">
				<label class="label-lvl">Очки на след. уровень</label>
				<input type="text" class="label-lvl2" name ="sc2" id="inpt3">
			</div>
			<script>
							let k = 0;
							let g2 = '@String.Join(".",Model.gls_str)';
							let l2 = '@String.Join(".",Model.lvl_str)';

							let lvl = l2.split('.');

							let l = lvl[0].split(';');

							document.EditLevelForm.shapes.value = l[2];
							document.EditLevelForm.sc1.value = l[4];
							document.EditLevelForm.sc2.value = l[5];
							let sp = '@String.Join(";",Model.speeds)';

							let s = sp.split(';');
							/*for (let i = 0; i < lvl.length; i++) {
								document.querySelector('.select1').innerHTML += `<option class="option">${lvl[i]}</option>`;
							}*/
							for (let i = 0; i < s.length; i++) {
								if (s[i] == l[3]){
									document.querySelector('.select2').innerHTML += `<option class="option" selected>${s[i]}</option>`;
								}
								else{
									document.querySelector('.select2').innerHTML += `<option class="option">${s[i]}</option>`;
								}
							}
							let gl = g2.split('.');
							for (let i = 0; i < gl.length; i++) {
								if (gl[i] == l[1]){
									document.querySelector('.select1').innerHTML += `<option class="option" selected>${gl[i]}</option>`;
								}
								else{
									document.querySelector('.select1').innerHTML += `<option class="option">${gl[i]}</option>`;
								}
							}
							document.formEditLevelPOST.kkkk.value = l[1];
			</script>
				</form>
				<form method="POST" onsubmit="fnctn( );" name="formEditLevelPOST">
					<input type="hidden" id="k1" name="k1" />
					<input type="hidden" id="k2" name="k2" />
					<input type="hidden" id="k3" name="k3" />
					<input type="hidden" id="k4" name="k4" />
					<input type="hidden" id="k5" name="k5" />
						<button class="btn-lvl" type="submit">Сохранить</button>
					<script>
						function fnctn() {
							document.formEditLevelPOST.k1.value = document.getElementById("select1").value;
							document.formEditLevelPOST.k2.value = document.getElementById("inpt1").value;
							document.formEditLevelPOST.k3.value = document.getElementById("select2").value;
							document.formEditLevelPOST.k4.value = document.getElementById("inpt2").value;
							document.formEditLevelPOST.k5.value = document.getElementById("inpt3").value;
						return true;
						}
					</script>
				</form>
			</div>
		</div>
	</section>
</body>
