@page
@model tetris.Pages.FiguresModel
@{
    ViewData["Title"] = "Фигуры";
}
<body>
    <h1>Фигуры</h1>
    <form method="POST" onsubmit="">
        <div class="block_1">
            <button id="back" onclick="buttonBack()">Назад</button>
            <div class="figure">
                <canvas width="128" height="128" id="figure" class="figure"></canvas>
                <script>

                    const canvas = document.getElementById('figure');
                    const context = canvas.getContext('2d');
                    const grid = 32;
                    context.fillStyle = '#000000'; //для линий

                    context.strokeStyle = 'rgba(0,0,0,1)'; //для закрашенных фигур
                    if (@Model.k < @Model.figure_count) {
                        
                    }
                    else{
                        for (let row = 0; row < 4; row++) {
                            for (let col = 0; col < 4; col++) {
                                    context.lineWidth = 0.5;
                                    context.strokeRect(col * grid, row * grid, grid - 1, grid - 1);
                            }
                        }
                    }


                    function buttonFor2() // no ';' here
                    {
                        let elem = document.getElementById('kkk');
                        elem.innerHTML = @Model.k;
                        let elem2 = document.getElementById('ddffff');
                        elem2.innerHTML = "gbgtw";

                    }

                    

                </script>
            </div>
            <button id="for" onclick="buttonFor()">Вперед</button>
            <label id="kkk">@Model.k</label>
            <label id="ddffff">@Model.figure_count</label>
            <label>@Model.figures.Count</label>
            <input onclick="buttonFor2()" type="button" value="eue" id="myButton1">

        </div>
    </form>
</body>